# Synkora Master Environment File

# Database Configuration (Docker)
POSTGRES_USER=synkora
POSTGRES_PASSWORD=postgres
POSTGRES_DB=synkora_db

# Security
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7

# GitHub OAuth
GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret

# AI Provider
AI_PROVIDER=deepseek
AI_API_KEY=your_api_key
